#app-container {
    letter-spacing: 1px;
    padding-top: 40px;
    font-family: 'Roboto Mono';

    & > div {
        display: flex;
        font-size: 25px;
        font-weight: bold;
        justify-content: center;
        margin: 0 auto;
    }
}